import { screen } from '@testing-library/react'
import { renderWithTheme } from 'types/helpers'

import {{pascalCase name}} from '.'

describe('<{{pascalCase name}} />', () => {
  it('should render the heading', () => {
    renderWithTheme(<{{pascalCase name}} />)

    expect(screen.getByRole('heading', { name: /{{pascalCase name}}/i })).toBeInTheDocument()
  })
})
